section {
    display: flex;
    
    justify-content: center;
    
    justify-content: center;
}

img {
    width:20%;
    height:20%;
    margin:20px;
    cursor: pointer;
    margin-top: auto;
    
}

#Image1 {
    border-style: solid;
    border-spacing: 0ch;
    
}

#Image2 {
    border-style: solid;
}

#Image3 {
    border-style: solid;
}

body {
    background-color: rgb(105, 180, 105);
}

h1 {
    
    text-align: center;
    
}

#btnContainer {
    display: flex;
    justify-content: center;
    
    
}

p {
    display: flex;
    justify-content: center;
    font-size: larger;
}

#Pictures{
    background-color: yellow;
}

nav { 
    
    
    font-size: 40px; 
    background-color: yellow;


}

#Paragraph {
    font-size: larger;
}


